.sidebar {
    position: absolute;
    top: 4rem;
}

.sidebar {
    /* width: 30% !important; */
    height: 150rem;
    display: flex;
    flex-direction: row;
    border-right: 1px solid;
    border-radius: 0;
    border-color: #f89cc5;
    background-color: #f89cc5;
    transition: 0.8s ease;
    justify-content: center;
    align-items: flex-start;
}

.toggle-menu {
    top: 0.1rem;
    left: 3.5rem;
    height: 2.7rem;
    width: 2.5rem;
    position: absolute;
    background-color: #f89c;
    border-color: #f89c;
    justify-content: flex-start;
    align-items: flex-start;
}

.content {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    justify-content: center;
}