.layout {
    width: 400px;
    top: 0.5rem;
}

.header {
    top: 0.5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2rem;
    background-color: #f89cc5;
    align-items: center;
}

.side_effect {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titlebutton {
    border: none;
    background: url("../../assets/titlebutton.png") no-repeat;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titletext {
    font-size: 1.5em;
    text-align: start;
    font-style: normal;
    color: #f8f9fa;
    align-content: center;
    justify-content: center;
}