.layout {
    width: 400px;
}

.write {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.write_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.write_maintitle {
    margin-bottom: 2rem;
}

.img {
    margin-bottom: 3rem;
}

.write_subtitle {
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
}

.present {
    margin-top: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.present_text {
    margin-bottom: 2rem;
    font-weight: bold;
}

.SNS {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.SNS_share {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.SNS_title {
    margin-bottom: 2rem;
}

.writelist_title {
    margin-bottom: 5rem;
}