body {
    margin: 0;
}

.Main_center_app {
    max-width: 500px;
    height: 100%;
    margin: 0 auto;
    /* overflow-y: auto; */
}

.App_header {
    width: 100%;
    height: 3rem;
    background-color: #f89cc5;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.App_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.Main_center_app .Main_App_menu {
    width: 100%;
}


/* @media only screen and (min-width: 600px) {
    .App_Main_Nav {
        width: 25%;
    }
}

@media only screen and (min-width: 768px) {
    .App_Main_Nav {
        width: 25%;
    }
} */