.Main_layout {
    margin: 0 auto;
    width: 500px;
    margin-top: 4rem;
}

.Main_background {
    width: 100%;
    position: relative;
    background: #18928c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Main_grayboxarray {
    margin-top: 7rem;
}

.graybox1 {
    margin-right: 10rem;
}

.graybox2 {
    margin-left: 10rem;
}

.graybox3 {
    margin-right: 10rem;
}

.graybox4 {
    margin-left: 10rem;
}

.graybox5 {
    margin-right: 10rem;
}

.graybox6 {
    margin-left: 10rem;
}


/* .graybox1 {
    margin-left: 225px;
    margin-top: 1rem;

    border-radius: opx;
}

.graybox2 {
    margin-left: 40px;
    margin-top: 2rem;
 
    border-radius: 0px;
}

.graybox3 {
    margin-left: 225px;
    margin-top: 3rem;
  
    border-radius: 0px;
}

.graybox4 {
    margin-left: 40px;
    margin-top: 4rem;

    border-radius: 0px;
} */

.footertext {
    margin-top: 5rem;
    text-align: center;
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #f89cc5;
}

.footermargin {
    margin-top: 6rem;
}