Slider_layout {
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.slide_containerlayout {
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button_layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.test_left {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    align-items: center;
    border: none;
    list-style: none;
    background: none;
}

.test_right {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border: none;
    list-style: none;
    background: none;
}

.img1,
.img2,
.img3,
.img4 {
    width: 70%;
}

.spacetext {
    font-family: "NanumSquareRound";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}