Slider_layout {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.slide_layout {
    width: 262px;
    height: 262px;
}

.slide_containerlayout {
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button_layout {
    display: flex;
    flex-direction: row;
    padding: 32px;
    align-items: center;
}

.diary_left {
    margin: 32px;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    list-style: none;
    background: none;
}

.diary_right {
    margin: 32px;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    list-style: none;
    background: none;
}

.img1,
.img2,
.img3,
.img4 {
    width: 262px;
    height: 262px;
}